# COMP6845 | Splunk

```
Version: 1.1 (20251103)
Maintainer: Andrew Wong (andrew.j.wong@unsw.edu.au)
```

```
Special thanks to Wesley Lacy for providing the lesson plan and resources
```

In this lab we're going to learn how to use Splunk!  
We'll start off by figuring out how to set it up, then ingest a web server log file and do some hunting!

